/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

a, a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Tabela Estilizada */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    border: 1px solid #dee2e6;
    text-align: center;
}

th {
    background-color: #343a40;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Botões de Ação */
.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action-buttons a {
    padding: 8px 16px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.edit-button {
    background-color: #007bff;
}

.edit-button:hover {
    background-color: #0026ff;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

.add-button {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.add-button:hover {
    background-color: #218838;
}
